<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--SIDEBAR-->
<div th:fragment="sidebar">
    <div class="iq-sidebar">
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/users') ? 'active':''}">
                        <a sec:authorize="isAuthenticated()" th:href="@{/users/profile}" class="iq-waves-effect"><i class="las la-user"></i><span>Profile</span></a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                        <a th:href="@{/}"  class="iq-waves-effect"><i class="las la-newspaper"></i><span>Newsfeed</span></a>
                    </li>
                    <li>
                        <a th:href="@{/teams}" class="iq-waves-effect"><i class="las la-users"></i><span>Teams</span></a>
                    </li>
                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>
</div>
<!--SIDEBAR END-->


<!--TOP NAVBAR-->
<div id="top-navbar" th:fragment="top-navbar">

    <div class="iq-top-navbar">
        <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="iq-navbar-logo d-flex justify-content-between">
                    <a th:href="@{/}">
                        <img src="/assets/images/logo-full.png" class="img-fluid" alt="">
                    </a>
                    <div class="iq-menu-bt align-self-center">
                        <div class="wrapper-menu">
                            <div class="main-circle"><i class="ri-menu-line"></i></div>
                        </div>
                    </div>
                </div>
                <div class="iq-search-bar">
                    <form action="#" class="searchbox">
                        <input type="text" class="text search-input" placeholder="Type here to search...">
                        <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                    </form>
                    <div id="search-results" class="search-results">
                        <div class="results-list">
                            No results found
                        </div>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list">
                        <li>
                            <a th:href="@{'/users/' + ${principalUser.getId()}}" class="iq-waves-effect d-flex align-items-center">


                                <img th:if="${principalUser.profilePicture != null}"
                                     th:src="@{'/users/' + ${principalUser.getId()} + '/profilepicture'}"
                                     class="img-fluid rounded-circle mr-3" alt="user">
                                <img th:unless="${principalUser.profilePicture != null}"
                                     src="/assets/images/user/avatar.png" class="img-fluid rounded-circle mr-3"
                                     alt="user">
                                <div class="caption">
                                    <h6 class="mb-0 line-height"
                                        th:text="${principalUser.firstName} + ' ' + ${principalUser.lastName}">Bni
                                        Cyst</h6>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/}" class="iq-waves-effect d-flex align-items-center">
                                <i class="ri-home-line"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="search-toggle iq-waves-effect" href="#"><i class="ri-group-line"></i><span
                                    th:if="${friendRequests.size() != 0}" class="bg-danger dots"></span></a>
                            <div class="iq-sub-dropdown iq-sub-dropdown-large">
                                <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                        <div class="bg-primary p-3">
                                            <h5 class="mb-0 text-white">Friend Request<small
                                                    class="badge badge-light float-right pt-1"
                                                    th:text="${friendRequests.size()}">4</small></h5>
                                        </div>
                                        <div class="iq-friend-request" th:each="request : ${friendRequests}">
                                            <div class="iq-sub-card iq-sub-card-big d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <a th:href="@{'/users/' + ${request.getSender().getId()}}">
                                                            <img th:if="${request.getSender().getProfilePicture() !=null}"
                                                                 class="avatar-40 rounded"
                                                                 th:src="@{'/users/' + ${request.getSender().getId()} + '/profilepicture'}"
                                                                 alt="">
                                                            <img th:unless="${request.getSender().getProfilePicture() !=null}"
                                                                 class="avatar-40 rounded"
                                                                 src="/assets/images/user/avatar.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 "
                                                            th:text="${request.getSender().getFirstName()} + ' ' + ${request.getSender().getLastName()}">
                                                            Jaques Amole</h6>
                                                        <p class="mb-0" th:text="${request.getSender().getTeam().getName()}"></p>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <form th:action="@{'/users/' + ${request.getRecipient().getId()}  + '/accept-friend-request'}"
                                                          method="post">
                                                        <input type="hidden" name="requestId"
                                                               th:value="${request.getId()}"/>
                                                        <button type="submit" class="mr-3 btn btn-primary rounded">
                                                            Confirm
                                                        </button>
                                                    </form>
                                                    <form th:action="@{'/users/' + ${request.getRecipient().getId()}  +'/reject-friend-request'}"
                                                          method="post">
                                                        <input type="hidden" name="requestId"
                                                               th:value="${request.getId()}"/>
                                                        <button type="submit" class="mr-3 btn btn-secondary rounded">
                                                            Delete Request
                                                        </button>
                                                    </form>
                                                    <!--                                             <a href="javascript:void();" class="mr-3 btn btn-primary rounded">Confirm</a>-->
                                                    <!--                                             <a href="javascript:void();" class="mr-3 btn btn-secondary rounded">Delete Request</a>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <ul class="navbar-list">
                        <li>
                            <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                                <i class="ri-arrow-down-s-fill"></i>
                            </a>
                            <div class="iq-sub-dropdown iq-user-dropdown">
                                <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                        <div class="bg-primary p-3 line-height">
                                            <h5 class="mb-0 text-white line-height"
                                                th:text="'Hello ' + ${principalUser.getFirstName()} + ' ' + ${principalUser.getLastName()}">
                                                Hello Bni Cyst</h5>

                                        </div>
                                        <a  sec:authorize="isAuthenticated()" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                th:href="@{'/admin/users-details'}"
                                           class="iq-sub-card iq-bg-primary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-primary">
                                                    <i class="ri-file-user-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Admin portal.</h6>
                                                    <p class="mb-0 font-size-12">Administrate users.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a th:href="@{'/users/' + ${principalUser.getId()}}"
                                           class="iq-sub-card iq-bg-primary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-primary">
                                                    <i class="ri-file-user-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">My Profile</h6>
                                                    <p class="mb-0 font-size-12">View personal profile details.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a th:href="@{'/users/' + ${principalUser.getId()} + '/update'}"
                                           class="iq-sub-card iq-bg-warning-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-warning">
                                                    <i class="ri-profile-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Edit Profile</h6>
                                                    <p class="mb-0 font-size-12">Modify your personal details.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="d-inline-block w-100 text-center p-3">
                                            <a class="bg-primary iq-sign-btn" th:href="@{/logout}" role="button">Sign
                                                out<i class="ri-login-box-line ml-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">
                        <button class="btn btn-primary">Login</button>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>


<!--POST FRAGMENT-->
<div id="post-fragment" th:fragment="post-fragment" class="post-fragment">


    <div th:each="userPost:${userPosts}">

        <!--            PUBLIC CASE-->
        <div class="post-item" th:if="${userPost.getIsPublic() == 1}">
            <div th:insert="fragments::post-subfragment"></div>
        </div>
        <!--            PUBLIC CASE END -->

        <!--            USERS CASE -->
        <div class="post-item" sec:authorize="isAuthenticated()" th:if="${userPost.getIsPublic() == 2}">
            <div th:insert="fragments::post-subfragment"></div>
        </div>
        <!--            USERS CASE END-->

        <!--        FRIENDS CASE -->
        <div class="post-item" sec:authorize="isAuthenticated()"
             th:if="${userPost.getIsPublic() == 3} and ${userPost.getUser().getFriends().contains(principalUser)} or ${userPost.getIsPublic() == 3} and ${userPost.getUser().getId() == principalUser.getId()}">
            <div th:insert="fragments::post-subfragment"></div>
        </div>
        <!--                FRIENDS CASE END -->
    </div>

    <form th:if="${userPosts.getPageable() != null}">
        <a class="load-next-page-btn"  href="javascript:void();">Load more posts</a>
        <input type="hidden" class="pageNumber" th:value="${userPosts.getPageable().getPageNumber() + 1}">
    </form>

</div>
<!--POST FRAGMENT END-->

<!--POST FRAGMENT USER TIMELINE-->
<div id="post-fragment-user-timeline" th:fragment="post-fragment-user-timeline">


    <div th:each="userPost:${userPosts}">

        <!--            PUBLIC CASE-->
        <div class="post-item" th:if="${userPost.getIsPublic() == 1}">
            <div th:insert="fragments::post-subfragment"></div>
        </div>
        <!--            PUBLIC CASE END -->

        <!--            USERS CASE -->
        <div class="post-item" sec:authorize="isAuthenticated()" th:if="${userPost.getIsPublic() == 2}">
            <div th:insert="fragments::post-subfragment"></div>
        </div>
        <!--            USERS CASE END-->

        <!--        FRIENDS CASE -->
        <div class="post-item" sec:authorize="isAuthenticated()"
             th:if="${userPost.getIsPublic() == 3} and ${userPost.getUser().getFriends().contains(principalUser)} or ${userPost.getIsPublic() == 3} and ${userPost.getUser().getId() == principalUser.getId()}">
            <div th:insert="fragments::post-subfragment"></div>
        </div>
        <!--                FRIENDS CASE END -->
    </div>
</div>
<!--POST FRAGMENT USER TIMELINE END-->

<!--        POST SUBFRAGMENT-->

<div th:fragment="post-subfragment" class="post-subfragment">
    <div class="user-post-data p-3">
        <div class="d-flex flex-wrap">
            <div class="media-support-user-img mr-3">
                <a th:href="@{'/users/' + ${userPost.getUser().getId()}}">
                <img th:if="${userPost.getUser().getProfilePicture() != null}"
                     th:src="@{'/users/' + ${userPost.getUser().getId()} + '/profilepicture'}"
                     class="rounded-circle img-fluid"/>
                <img th:unless="${userPost.getUser().getProfilePicture() != null}" src="/assets/images/user/avatar.png"
                     class="rounded-circle img-fluid"/>
                </a>
            </div>
            <div class="media-support-info mt-2">
                <h5 class="mb-0 d-inline-block"
                    th:text="${userPost.getUser().getFirstName()} + ' ' + ${userPost.getUser().getLastName()}"><a
                        th:href="@{'/users/' + ${userPost.getUser().getId()}}" class="">Bni Cyst</a></h5>
                <p class="mb-0" th:text="${userPost.getTimeAgo()}">3 hour ago</p>
            </div>
            <div class="iq-card-post-toolbar" sec:authorize="isAuthenticated()" th:if="${userPost.getUser().getUsername() == #authentication.getName()} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <div class="dropdown">
                       <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                             role="button">

                       <i class="ri-more-fill"></i>
                       </span>

                    <div class="dropdown-menu m-0 p-0">
                            <a class="dropdown-item p-3" th:href="@{'/posts/' + ${userPost.getId()} + '/update'}">
                                <div class="d-flex align-items-top">
                                    <div class="icon font-size-20"><i class="ri-pencil-line"></i></div>
                                    <div class="data ml-2">
                                        <h6>Edit Post</h6>
                                        <p class="mb-0">Update your post and saved items</p>
                                    </div>
                                </div>
                            </a>
                        <form>
                            <input type="hidden" class="postId" th:value="${userPost.getId()}">
                            <a class="dropdown-item p-3 delete-post-btn" href="javascript:void();">
                                <div class="d-flex align-items-top">
                                    <div class="icon font-size-20"><i class="ri-delete-bin-7-line"></i></div>
                                    <div class="data ml-2">
                                        <h6>Delete</h6>
                                        <p class="mb-0">Remove this Post </p>
                                    </div>
                                </div>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-post">
        <p th:if="${userPost.getDescription() != null}" th:text="${userPost.getDescription()}"></p>
        <img th:if="${userPost.getPicture() != null}" th:src="@{'/posts/' + ${userPost.getId()} + '/picture'}"
             alt="post-image" class="img-fluid w-100"/>
    </div>
    <div class="comment-area mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="like-block position-relative d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <div class="like-data">
                        <div class="dropdown" sec:authorize="isAuthenticated()">
                            <form>
                                <input type="hidden" class="postId" th:value="${userPost.getId()}">
                                <input type="hidden" class="userId"  th:value="${principalUser.getId()}">
                                <input type="hidden" class="totalLikes" th:value="${userPost.getLikes().size()}">
                                <span class="dropdown-toggle like-button"  aria-haspopup="true"
                                   aria-expanded="false" role="button">
                                <img th:if="${likeChecker.likeExists(principalUser.getId(), userPost.getId())}" src="/assets/images/icon/01.png" class="img-fluid" alt="">
                                <img th:unless="${likeChecker.likeExists(principalUser.getId(), userPost.getId())}" src="/assets/images/icon/00.png" class="img-fluid" alt="">
                                </span>
                            </form>
                        </div>
                    </div>
                    <div class="total-like-block ml-2 mr-3">
                        <div class="dropdown">
                             <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false" role="button" th:text="${userPost.getLikes().size()} + ' Likes'">
                             234140 Likes
                             </span>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:each="like:${userPost.getLikes()}" th:text="${like.getUser().getFirstName()} + ' ' + ${like.getUser().getLastName()}">Max Emum</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-comment-block">
                    <div class="dropdown">
                          <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" role="button">
                          </span>

                    </div>
                </div>
            </div>

            <div class="share-block d-flex align-items-center feather-icon mr-3">
                <a href="javascript:void();">
                    <div th:if="${userPost.getPostType().getId() == 1}"><i class="ri-settings-3-fill"></i><span
                            style="margin-right: 10px;" th:text="${userPost.getPostType().getPostType()}"></span></div>
                    <div th:if="${userPost.getPostType().getId() == 2}"><i class="ri-group-2-fill"></i><span
                            style="margin-right: 10px;" th:text="${userPost.getPostType().getPostType()}"></span></div>
                    <div th:if="${userPost.getPostType().getId() == 3}"><i class="ri-discuss-fill"></i><span
                            style="margin-right: 10px;" th:text="${userPost.getPostType().getPostType()}"></span></div>
                    <div th:if="${userPost.getPostType().getId() == 4}"><i class="ri-user-star-fill"></i><span
                            style="margin-right: 10px;" th:text="${userPost.getPostType().getPostType()}"></span></div>
                </a>
                <a href="javascript:void();">
                    <div th:if="${userPost.getIsPublic() == 1}"><i class="ri-global-line"></i><span>Public</span></div>
                    <div th:if="${userPost.getIsPublic() == 2}"><i class="ri-group-fill"></i><span>Users</span></div>
                    <div th:if="${userPost.getIsPublic() == 3}"><i class="ri-lock-fill"></i> <span>Friends</span></div>
                </a>
            </div>
        </div>
        <hr>
        <a role="button" href="javascript:void();" class="show-comment">
            <span th:text="${userPost.getComments().size()}" class="comment-count"></span>
            <span> Comments</span>
        </a>
        <div th:insert="fragments::post-comments-fragment" class="post-comments-fragment">
        </div>

        <div>
            <form sec:authorize="isAuthenticated()" th:id="'commentForm' + ${userPost.getId()}"
                  class="comment-text d-flex align-items-center mt-3">
                <input type="text" class="form-control rounded commentText" th:id="'message' + ${userPost.getId()}"
                       name="comment" placeholder="Type comment here...">
                <input type="hidden" class="postId" th:value="${userPost.getId()}"
                       th:id="'postId' + ${userPost.getId()}" name="postId">
                <input type="hidden" class="principalId" th:value="${principalUser.getId()}"
                       th:id="'principalId' + ${principalUser.getId()}" name="principalId">
                <div class="comment-attagement d-flex">
                    <a class="add-comment-btn"><i class="ri-mail-send-fill mr-3"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--        POST SUBFRAGMENT END-->

<!--        POST COMMENTS FRAGMENT-->
<div th:fragment="post-comments-fragment">
    <ul class="post-comments p-0 m-0">
        <li class="mb-2" th:each="comment : ${userPost.getComments()}">
            <div class="d-flex flex-wrap">
                <div class="user-img">
                    <img th:if="${comment.getUser().getProfilePicture() != null}"
                         th:src="@{'/users/' + ${comment.getUser().getId()} + '/profilepicture'}" alt="userimg"
                         class="avatar-35 rounded-circle img-fluid">
                    <img th:unless="${comment.getUser().getProfilePicture() != null}"
                         src="/assets/images/user/avatar.png" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                </div>
                <div class="comment-data-block ml-3">
                       <h6 th:text="${comment.getUser().getFirstName()} + ' ' + ${comment.getUser().getLastName()}">Monty
                        Carlo
                      </h6>
                    <p class="mb-0" th:text="${comment.getMessage()}">Lorem ipsum dolor sit amet</p>
                    <input type="hidden" class="commentId" th:value="${comment.getId()}">
                    <a th:if="${comment.getUser().getUsername() == #authentication.getName()} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="ion-close-circled delete-comment-btn pull-left" style="margin-right: 35px"></a>
                    <div class="d-flex flex-wrap align-items-center comment-activity">
                        <span th:text="${comment.getTimeAgo()}"> 5 min </span>
                     </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--POST COMMENTS FRAGMENT END-->

<!--        NEW COMMENT FRAGMENT-->
<div th:fragment="new-comment">
    <ul class="post-comments p-0 m-0">
        <li class="mb-2">
            <div class="d-flex flex-wrap">
                <div class="user-img">
                    <img th:if="${comment.getUser().getProfilePicture() != null}"
                         th:src="@{'/users/' + ${comment.getUser().getId()} + '/profilepicture'}" alt="userimg"
                         class="avatar-35 rounded-circle img-fluid">
                    <img th:unless="${comment.getUser().getProfilePicture() != null}"
                         src="/assets/images/user/avatar.png" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                </div>
                <div class="comment-data-block ml-3">
                    <h6 th:text="${comment.getUser().getFirstName()} + ' ' + ${comment.getUser().getLastName()}">Monty
                        Carlo</h6>
                    <p class="mb-0" th:text="${comment.getMessage()}">Lorem ipsum dolor sit amet</p>
                    <input type="hidden" class="commentId" th:value="${comment.getId()}">
                    <a th:if="${comment.getUser().getUsername() == #authentication.getName()} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="ion-close-circled delete-comment-btn pull-left" style="margin-right: 35px"></a>
                    <div class="d-flex flex-wrap align-items-center comment-activity">

                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--        NEW COMMENT FRAGMENT END-->



<!-- SEARCH RESULTS FRAGMENT-->
<div th:fragment="search-results">
    <div  th:each="result : ${searchResults}">

            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <a th:href="@{'/users/' + ${result.getId()}}">
                        <img th:if="${result.getProfilePicture() != null}" th:src="@{'/users/' + ${result.getId()} + '/profilepicture'}" alt="profile-img" class="avatar-80 rounded">
                        <img th:unless="${result.getProfilePicture() != null}" src="/assets/images/user/avatar.png" alt="profile-img" class="avatar-80 rounded">
                    </a>
                    <div class="friend-info" style="margin-left: 15px; margin-top: 5px; height: 50px;">
                        <h5 th:text="${result.getFirstName()} + ' ' + ${result.getLastName()}">Petey Cruiser</h5>
                        <p  style="height: 25px; position: relative; bottom: 20px;" th:text="${result.getTeam().getName()}"></p>
                    </div>
                </div>
            </div>

        <hr>
    </div>
</div>
<!--SEARCH RESULTS FRAGMENT END-->
<!-- Footer -->
<div th:fragment="footer">
<footer class="bg-white iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a th:href="@{/terms-and-conditions}">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2020 <a >WarForum</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
</div>
<!-- Footer END -->
</body>
</html>