<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Teams</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/assets/images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/assets/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/assets/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/assets/css/responsive.css">
   </head>
   <body class="sidebar-main-active right-column-fixed">
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div th:insert="fragments::sidebar">
         </div>
         <!-- TOP Nav Bar -->
         <div th:insert="fragments::top-navbar">
         </div>
         <!-- TOP Nav Bar END -->

         <div class="header-for-bg">
            <div class="background-header  position-relative " >
               <img src="/assets/images/teams.JPG" class="img-fluid w-75 rounded rounded" style="display: block; margin-left: auto; margin-right: auto;" alt="header-bg">
               <div class="title-on-header">
                  <form th:action="@{/teams/create}" method="post">
                  <button type="submit" class="data-block">
                     <h2>Create Team</h2>
                  </button>
                  </form>
               </div>
            </div>
         </div>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-lg-4" th:each="team:${teams}"  th:if="${team.getId() != 1}">
                     <div class="iq-card">
                        <div class="top-bg-image">
                           <img src="/assets/images/logo-full.png" class="img-fluid w-100" alt="group-bg">
                        </div>
                        <div class="iq-card-body text-center">
                           <a th:href="@{'/teams/' + ${team.getId()}}">
                           <div class="group-icon">
                              <img th:if="${team.getPicture() == null}" src="/assets/images/user/group-avatar.png" alt="profile-img" class="rounded-circle img-fluid avatar-120">
                              <img th:unless="${team.getPicture() == null}" th:src="@{'/teams/' + ${team.getId()} +'/picture'}" alt="profile-img" class="rounded-circle img-fluid avatar-120">
                           </div>
                           <div class="group-info pt-3 pb-3">
                              <h4 th:text="${team.getName()}">Designer</h4>
                              <p th:text="${team.getDescription()}">Lorem Ipsum data</p>
                              <h6 th:if="${team.getAttitude() == 1}">Attitude: Sunday Tactical</h6>
                              <h6 th:if="${team.getAttitude() == 2}">Attitude: Dead Serious</h6>
                              <h6 th:if="${team.getAttitude() == 3}">Attitude: Mixed</h6>
                              <h6 th:if="${team.getAttitude() == 4}">Attitude: Leisure</h6>
                              <h6 th:if="${team.getAttitude() == 5}">Attitude: Not Specified</h6>

                           </div>
                           </a>
                           <div class="group-details d-inline-block pb-3">
                              <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0">
                                 <li class="pl-3 pr-3">
                                    <p class="mb-0">Members</p>
                                    <h6 th:text="${team.getMembers().size()}">320</h6>
                                 </li>
                              </ul>
                           </div>
                           <div class="group-member mb-3">
                              <div class="iq-media-group">
                                 <a th:href="@{'/users/' + ${member.getId()}}" class="iq-media" th:each="member : ${team.getMembers()}" >
                                 <img class="img-fluid avatar-40 rounded-circle" th:if="${member.getProfilePicture() == null}" src="/assets/images/user/avatar.png" alt="">
                                 <img class="img-fluid avatar-40 rounded-circle" th:unless="${member.getProfilePicture() == null}" th:src="@{'/users/' + ${member.getId()} + '/profilepicture'}" alt="">
                                 </a>
                              </div>
                           </div>
                           <form sec:authorize="isAuthenticated()" th:if="${!team.getMembers().contains(principalUser)} and ${!requestChecker.requestExists(team.getId(), principalUser.getId())}" th:action="@{'/teams/' + ${team.getId()} + '/send-request'}" method="post">
                              <button type="submit" class="btn btn-primary d-block w-100">Join</button>
                              <input type="hidden" name="userId" th:value="${principalUser.getId()}">
                           </form>
                           <form sec:authorize="isAuthenticated()" th:if="${team.getMembers().contains(principalUser)}" th:action="@{'/teams/' + ${team.getId()} + '/leave-team'}" method="post">
                              <button type="submit" class="btn btn-danger d-block w-100">Leave team</button>
                              <input type="hidden" name="userId" th:value="${principalUser.getId()}">
                           </form>
                           <form sec:authorize="isAuthenticated()" th:if="${!team.getMembers().contains(principalUser)} and ${requestChecker.requestExists(team.getId(), principalUser.getId())}" th:action="@{/teams}" method="get">
                              <button type="submit" class="btn btn-secondary d-block w-100">Request sent</button>
                              <input type="hidden" name="userId" th:value="${principalUser.getId()}">
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <div th:insert="fragments::footer"></div>
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="/assets/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="/assets/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="/assets/js/waypoints.min.js"></script>
      <script src="/assets/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="/assets/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="/assets/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="/assets/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="/assets/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="/assets/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="/assets/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="/assets/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="/assets/js/lottie.js"></script>
      <!-- am core JavaScript -->
      <script src="/assets/js/core.js"></script>
      <!-- am charts JavaScript -->
      <script src="/assets/js/charts.js"></script>
      <!-- am animated JavaScript -->
      <script src="/assets/js/animated.js"></script>
      <!-- am kelly JavaScript -->
      <script src="/assets/js/kelly.js"></script>
      <!-- am maps JavaScript -->
      <script src="/assets/js/maps.js"></script>
      <!-- am worldLow JavaScript -->
      <script src="/assets/js/worldLow.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="/assets/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="/assets/js/custom.js"></script>
   </body>
</html>