<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SocialV - Responsive Bootstrap 4 Admin Dashboard Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body class="sidebar-main-active right-column-fixed">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div th:insert="fragments::sidebar">
    </div>
    <!--         Side Bar End-->
    <!-- TOP Nav Bar -->
    <div th:insert="fragments::top-navbar">
    </div>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form th:action="@{'/posts/' + ${userPost.getId()} + '/update'}" method="post" enctype="multipart/form-data">
                    <div class="d-flex align-items-center">
                        <div class="user-img">
                            <div class="user-detail text-center mb-3">
                                <img th:if="${userPost.getUser().getProfilePicture() != null}" th:src="@{'/users/' + ${userPost.getUser().getId()} + '/profilepicture'}" alt="profile-img" class="avatar-60  rounded-circle img-fluid" />
                                <img th:unless="${userPost.getUser().getProfilePicture() != null}" src="/assets/images/user/avatar.png" alt="profile-img" class="avatar-60  rounded-circle img-fluid" />
                            </div>
                        </div>
                        <input type="hidden" th:value="${userPost.getUser().getId()}" name="userId">
                        <input type="text" th:value="${userPost.getDescription()}" class="form-control rounded" name="description"  style="border:none;">

                    </div>
                    <hr>
                        <br>
                        <img th:if="${userPost.picture != null}"  th:src="@{'/posts/' + ${userPost.getId()} + '/picture'}" class="post-pic img-fluid w-100"  alt="post-pic">
                        <br>
                        <hr>
                    <ul class="d-flex flex-wrap align-items-center list-inline m-0 p-0">
                        <li class="col-md-6 mb-3">

                            <div class="iq-bg-primary rounded p-2 pointer mr-3">
                                <i class="upload-button-custom" style="font-size: 14px"><img src="/assets/images/small/07.png" alt="icon" class="img-fluid"> Upload Photo </i>
                                <input type="file" class="file-upload-custom" name="imagefile" accept="image/*">
                            </div>
                        </li>
                        <li class="col-md-6 mb-3">
                            <select class="btn btn-primary dropdown-toggle" name="isPublic">
                                <option value= "1" label="Public"></option>
                                <option value= "2" label="Users"></option>
                                <option value= "3" label="Friends"></option>
                            </select>
                            <select class="btn btn-primary dropdown-toggle" name="postType">
                                <option th:each="postType :${postTypes}" th:value="${postType.getId()}" th:label="${postType.getPostType()}"></option>
                            </select>
                        </li>
                    </ul>
                        <input type="submit" class="btn btn-success" value="Update Post">
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<footer class="bg-white iq-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-right">
                Copyright 2020 <a href="#">SocialV</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="/assets/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="/assets/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="/assets/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="/assets/js/apexcharts.js"></script>
<!-- Slick JavaScript -->
<script src="/assets/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="/assets/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="/assets/js/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="/assets/js/lottie.js"></script>
<!-- am core JavaScript -->
<script src="/assets/js/core.js"></script>
<!-- am charts JavaScript -->
<script src="/assets/js/charts.js"></script>
<!-- am animated JavaScript -->
<script src="/assets/js/animated.js"></script>
<!-- am kelly JavaScript -->
<script src="/assets/js/kelly.js"></script>
<!-- am maps JavaScript -->
<script src="/assets/js/maps.js"></script>
<!-- am worldLow JavaScript -->
<script src="/assets/js/worldLow.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/assets/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="/assets/js/custom.js"></script>
</body>
</html>