<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title th:text="${user.getFirstName()} + ${user.getLastName()}"></title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/assets/images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/assets/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/assets/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/assets/css/responsive.css">
   </head>
   <body class="sidebar-main-active right-column-fixed">
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div th:insert="fragments::sidebar">
         </div>
<!--         Side Bar End-->
         <!-- TOP Nav Bar -->
         <div th:insert="fragments::top-navbar"></div>
         <!-- TOP Nav Bar END -->

         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header">
                              <div class="cover-container">
                                 <img th:if="${user.getBackgroundPicture() != null}" th:src="@{'/users/' + ${user.getId()} + '/background'}" alt="profile-bg" class="rounded img-fluid">
                                 <img  th:unless="${user.getBackgroundPicture() != null}" src="/assets/images/logo-full2.jpg" alt="profile-bg" class="rounded img-fluid">
                                 <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                                    <li></li>
                                 </ul>
                              </div>
                              <div class="user-detail text-center mb-3">
                                 <div class="profile-img">
                                    <img th:if="${user.profilePicture != null}" th:src="@{'/users/' + ${user.getId()} + '/profilepicture'}" alt="profile-img" class="avatar-130 img-fluid" />
                                    <img th:unless="${user.profilePicture != null}" src="/assets/images/user/avatar.png" alt="profile-img" class="avatar-130 img-fluid" />
                                 </div>
                                 <div class="profile-detail">
                                    <h3 class="" th:text ="${user.firstName} + ' ' + ${user.lastName}">Bni Cyst</h3>
                                 </div>
                              </div>
                              <div class="profile-info p-4 d-flex align-items-center justify-content-between position-relative">
                                 <div class="social-links">
                                    <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">

                                       <li>
                                       <a th:if="${#authentication.getName().equals(user.getUsername())}" th:href="@{'/users/' + ${user.getId()} + '/update'}"><button class="btn btn-secondary">Update Profile</button></a>
                                       </li>
                                       <li>
                                          <form sec:authorize="isAuthenticated()" th:if="${principalUser.getUsername().equals(user.getUsername())}" th:action="@{'/users/' + ${user.getId()} + '/update/background'}" method="post" enctype="multipart/form-data">
                                             <i class="btn btn-secondary upload-button" style="margin-left: 10px; height: 35px; font-size: 14px;">Cover Photo</i>
                                             <input class="file-upload" type="file" name="imagefile" accept="image/*" onchange="this.form.submit()" />
                                          </form>
                                       </li>
                                       <li sec:authorize="isAuthenticated()" th:if="${!#authentication.getName().equals(user.getUsername())} and ${!principalFriends.contains(user)} and ${principalToUserRequest.isEmpty()}">
                                       <form th:action="@{'/users/' + ${user.getId()} + '/send-friend-request'}" method="post">
                                          <input type="hidden" th:value="${principalUser.getId()}" name="principalId"/>
                                          <input type="hidden" th:value="${user.getId()}" name="userId"/>
                                          <button type="submit" class="btn btn-primary">Add Friend</button>
                                       </form>
                                       </li>

                                       <li sec:authorize="isAuthenticated()" th:if="${!#authentication.getName().equals(user.getUsername())} and ${principalFriends.contains(user)}">
                                             <div class="dropdown">
                                                               <span class="dropdown-toggle btn btn-secondary mr-2" id="dropdownMenuButton06" data-toggle="dropdown" aria-expanded="true" role="button">
                                                               <i class="ri-check-line mr-1 text-white font-size-16"></i> Friend
                                                               </span>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton06">
                                                   <form th:action="@{'/users/' + ${user.getId()} + '/unfriend'}" method="post">
                                                      <input type="hidden" th:value="${user.getId()}" name="friendId">
                                                      <input type="hidden" th:value="${principalUser.getId()}" name="principalId">
                                                      <button type="submit" class="dropdown-item" onclick="this.form.submit()">Unfriend</button>
                                                   </form>
                                                </div>
                                             </div>
                                       </li>

                                       <li sec:authorize="isAuthenticated()" th:if="${!principalToUserRequest.isEmpty()}">
                                          <div class="d-flex align-items-center" th:if="${!#authentication.getName().equals(user.getUsername())} and ${principalToUserRequest.get(0).getSender().getId() == user.getId()}">
                                             <form th:action="@{'/users/' + ${user.getId()}  + '/accept-friend-request'}" method="post">
                                                <input type="hidden" name="requestId" th:value="${principalToUserRequest.get(0).getId()}"/>
                                                <button type="submit" class="mr-3 btn btn-primary rounded">Confirm</button>
                                             </form>
                                             <form th:action="@{'/users/' + ${user.getId()}  +'/reject-friend-request'}" method="post">
                                                <input type="hidden" name="requestId" th:value="${principalToUserRequest.get(0).getId()}"/>
                                                <button type="submit" class="mr-3 btn btn-secondary rounded">Delete Request</button>
                                             </form>
                                          </div>
                                          <div class="d-flex align-items-center" th:if="${!#authentication.getName().equals(user.getUsername())} and ${principalToUserRequest.get(0).getSender().getId() == principalUser.getId()}">
                                             <form th:action="@{'/users/' + ${user.getId()}  +'/reject-friend-request'}" method="post">
                                                <input type="hidden" name="requestId" th:value="${principalToUserRequest.get(0).getId()}"/>
                                                <button type="submit" class="mr-3 btn btn-secondary rounded">Request Sent</button>
                                             </form>
                                          </div>
                                       </li>

                                    </ul>
                                 </div>
                                 <div class="social-info">
                                    <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                                       <li class="text-center pl-3">
                                          <h6>Posts</h6>
                                          <p class="mb-0" th:text="${userPosts.size()}">690</p>
                                       </li>
                                       <li class="text-center pl-3">
                                          <h6>Friends</h6>
                                          <p class="mb-0" th:text="${friends.size()}">206</p>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="iq-card">
                        <div class="iq-card-body p-0">
                           <div class="user-tabing">
                              <ul class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
                                 <li class="col-sm-4 p-0">
                                    <a class="nav-link active" data-toggle="pill" href="#timeline">Timeline</a>
                                 </li>
                                 <li class="col-sm-4 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#about">About</a>
                                 </li>
                                 <li class="col-sm-4 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#friends">friends</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-12">
                     <div class="tab-content">
                        <div class="tab-pane fade active show" id="timeline" role="tabpanel">
                           <div class="iq-card-body p-0">
                              <div class="row">
                                 <div class="col-lg-12">

                                    <!--                  CREATE POST-->
                                    <div id="post-modal-data" class="iq-card" sec:authorize="isAuthenticated()" th:if="${user.getId() == principalUser.getId()}">
                                       <div class="iq-card-header d-flex justify-content-between">
                                          <div class="iq-header-title">
                                             <h4 class="card-title">Create Post</h4>
                                          </div>
                                       </div>

<!--                                       MODAL TRIGGER-->
                                       <div class="iq-card-body" data-toggle="modal" data-target="#post-modal">
                                          <div class="d-flex align-items-center">
                                             <div class="user-img">
                                                <img th:if="${user.profilePicture != null}" th:src="@{'/users/' + ${user.getId()} + '/profilepicture'}" alt="userimg" class="avatar-60 rounded-circle img-fluid">
                                                <img th:unless="${user.profilePicture != null}" src="/assets/images/user/avatar.png" alt="userimg" class="avatar-60 rounded-circle img-fluid">
                                             </div>
                                             <form>
                                                <input th:field="${postToCreate.description}" class="form-control rounded" placeholder="Write something here..." style="border:none;"/>
                                             </form>
                                          </div>
                                          <hr>
                                          <ul class="post-opt-block d-flex align-items-center list-inline m-0 p-0">
                                             <li class="iq-bg-primary rounded p-2 pointer mr-3"><a href="#"></a><img src="/assets/images/small/07.png" alt="icon" class="img-fluid"> Photo</li>
                                          </ul>
                                       </div>
<!--                                       MODAL TRIGGER END-->

<!--                                       MODAL BODY-->
                                       <form class="post-text ml-3 w-100" th:action="@{'/posts/'+${user.getId()}+'/create-post'}" th:object="${postToCreate}"  method="post" enctype="multipart/form-data">
                                       <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="post-modalLabel" aria-hidden="true" style="display: none;">
                                          <div class="modal-dialog" role="document">
                                             <div class="modal-content">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="post-modalLabel">Create Post</h5>
                                                   <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ri-close-fill"></i></button>
                                                </div>
                                                <div class="modal-body">
                                                   <div class="d-flex align-items-center">
                                                      <div class="user-img">
                                                         <div class="user-detail text-center mb-3">
                                                               <img th:if="${user.profilePicture != null}" th:src="@{'/users/' + ${user.getId()} + '/profilepicture'}" alt="profile-img" class="avatar-60  rounded-circle img-fluid" />
                                                               <img th:unless="${user.profilePicture != null}" src="/assets/images/user/avatar.png" alt="profile-img" class="avatar-60  rounded-circle img-fluid" />
                                                         </div>
                                                      </div>
                                                         <input type="hidden" th:value="${user.getId()}" name="userId">
                                                         <input type="text" class="form-control rounded" name="description"  style="border:none;">
                                                   </div>
                                                   <hr>
                                                   <br>
                                                   <img  class="post-pic img-fluid w-100">
                                                   <br>
                                                   <hr>
                                                   <ul class="d-flex flex-wrap align-items-center list-inline m-0 p-0">
                                                      <li class="col-md-6 mb-3">

                                                         <div class="iq-bg-primary rounded p-2 pointer mr-3">
                                                            <i class="upload-button-custom" style="font-size: 14px"><img src="/assets/images/small/07.png" alt="icon" class="img-fluid"> Upload Photo </i>
                                                            <input type="file" class="file-upload-custom" name="imagefile" accept="image/*">
                                                         </div>
                                                      </li>
                                                      <li class="col-md-6 mb-3">
                                                         <select class="btn btn-primary dropdown-toggle" name="isPublic">
                                                            <option value= "1" label="Public"></option>
                                                            <option value= "2" label="Users"></option>
                                                            <option value= "3" label="Friends"></option>
                                                         </select>
                                                         <select class="btn btn-primary dropdown-toggle" name="postType">
                                                            <option th:each="postType :${postTypes}" th:value="${postType.getId()}" th:label="${postType.getPostType()}"></option>
                                                         </select>
                                                      </li>
                                                   </ul>
                                                   <hr>
                                                   <div class="other-option">
                                                      <div class="d-flex align-items-center justify-content-between">
                                                         <div class="iq-card-post-toolbar">
                                                            <div class="dropdown">

<!--                                                               <span class="dropdown-toggle" id="postdata-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">-->
<!--                                                               <span class="btn btn-primary">Friend</span>-->
<!--                                                               </span>-->
<!--                                                               <div class="dropdown-menu m-0 p-0" aria-labelledby="postdata-1" style="">-->
<!--                                                                  <a class="dropdown-item p-3" href="#">-->
<!--                                                                     <div class="d-flex align-items-top">-->
<!--                                                                        <div class="icon font-size-20"><i class="ri-save-line"></i></div>-->
<!--                                                                        <div class="data ml-2">-->
<!--                                                                           <h6>Public</h6>-->
<!--                                                                           <p class="mb-0">Anyone on or off WarForum</p>-->
<!--                                                                        </div>-->
<!--                                                                     </div>-->
<!--                                                                  </a>-->
<!--                                                                  <a class="dropdown-item p-3" href="#">-->
<!--                                                                     <div class="d-flex align-items-top">-->
<!--                                                                        <div class="icon font-size-20"><i class="ri-user-unfollow-line"></i></div>-->
<!--                                                                        <div class="data ml-2">-->
<!--                                                                           <h6>WarForum users</h6>-->
<!--                                                                           <p class="mb-0">Registered users on Warforum</p>-->
<!--                                                                        </div>-->
<!--                                                                     </div>-->
<!--                                                                  </a>-->
<!--                                                                  <a class="dropdown-item p-3" href="#">-->
<!--                                                                     <div class="d-flex align-items-top">-->
<!--                                                                        <div class="icon font-size-20"><i class="ri-close-circle-line"></i></div>-->
<!--                                                                        <div class="data ml-2">-->
<!--                                                                           <h6>Friends</h6>-->
<!--                                                                           <p class="mb-0">Your Friends on Warforum</p>-->
<!--                                                                        </div>-->
<!--                                                                     </div>-->
<!--                                                                  </a>-->
<!--                                                               </div>-->
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <button type="submit" class="btn btn-primary d-block w-100 mt-3">Post</button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       </form>
<!--                                       MODAL BODY END-->
                                    </div>
<!--                                    CREATE POST END -->

<!--                                    TIMELINE POSTS-->
                                    <div class="iq-card">
                                       <div class="iq-card-body">

                                          <div th:insert="fragments::post-fragment-user-timeline" id="post-fragment"></div>

                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="about" role="tabpanel">
                           <div class="iq-card">
                              <div class="iq-card-body">
                                 <div class="row">
                                    <div class="col-md-3">
                                       <ul class="nav nav-pills basic-info-items list-inline d-block p-0 m-0">
                                          <li>
                                             <a class="nav-link active" data-toggle="pill" href="#basicinfo">Contact and Basic Info</a>
                                          </li>
                                       </ul>
                                    </div>
                                    <div class="col-md-9 pl-4">
                                       <div class="tab-content">
                                          <div class="tab-pane fade active show" id="basicinfo" role="tabpanel">
                                             <div th:if="${user.getContactInfo().getPrivacy()==2}">
                                             <h4>Contact Information</h4>
                                             <hr>
                                             <div class="row">
                                                <div class="col-3">
                                                   <h6>Email</h6>
                                                </div>
                                                <div class="col-9">
                                                   <p class="mb-0" th:text="${user.getContactInfo().getEmail()}"></p>
                                                </div>
                                                <div class="col-3">
                                                   <h6>Mobile</h6>
                                                </div>
                                                <div class="col-9">
                                                   <p class="mb-0" th:text="${user.getContactInfo().getMobile()}">(001) 4544 565 456</p>
                                                </div>
                                             </div>
                                             </div>
                                             <div sec:authorize="isAuthenticated()">
                                             <div th:if="${user.getContactInfo().getPrivacy()==1} and ${friends.contains(principalUser)} or ${user.getId() == principalUser.getId()}">
                                                <h4>Contact Information</h4>
                                                <hr>
                                                <div class="row">
                                                   <div class="col-3">
                                                      <h6>Email</h6>
                                                   </div>
                                                   <div class="col-9">
                                                      <p class="mb-0" th:text="${user.getContactInfo().getEmail()}"></p>
                                                   </div>
                                                   <div class="col-3">
                                                      <h6>Mobile</h6>
                                                   </div>
                                                   <div class="col-9">
                                                      <p class="mb-0" th:text="${user.getContactInfo().getMobile()}">(001) 4544 565 456</p>
                                                   </div>
                                                </div>
                                             </div>
                                             </div>
                                             <h4 class="mt-3">Basic Information</h4>
                                             <hr>
                                             <div class="row">
                                                <div class="col-3">
                                                   <h6>Team</h6>
                                                </div>
                                                <div class="col-9">
                                                   <p class="mb-0" th:text="${user.getTeam().getName()}"></p>
                                                </div>
                                                <div class="col-3">
                                                   <h6>Country</h6>
                                                </div>
                                                <div class="col-9">
                                                   <p class="mb-0" th:text="${user.getCountry().getName()}"></p>
                                                </div>
                                                <div class="col-3">
                                                   <h6>Birth Year</h6>
                                                </div>
                                                <div class="col-9">
                                                   <p class="mb-0" th:text="${user.getBirthYear()}">1994</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="friends" role="tabpanel">
                           <div class="iq-card">
                              <div class="iq-card-body">
                                 <h2>Friends</h2>
                                 <div class="friend-list-tab mt-2">
                                    <ul class="nav nav-pills d-flex align-items-center justify-content-left friend-list-items p-0 mb-2">
                                       <li>
                                          <a class="nav-link active" data-toggle="pill" href="#all-friends">All Friends</a>
                                       </li>
                                    </ul>
                                    <div class="tab-content">
                                       <div class="tab-pane fade active show" id="all-friends" role="tabpanel">
                                          <div class="iq-card-body p-0">
                                             <div class="row">
<!--                                                <div class="col-md-6 col-lg-6 mb-3">-->
<!--                                                   <div class="iq-friendlist-block">-->
<!--                                                      <div class="d-flex align-items-center justify-content-between">-->
<!--                                                         <div class="d-flex align-items-center">-->
<!--                                                            <a href="#">-->
<!--                                                            <img src="/assets/images/user/05.jpg" alt="profile-img" class="avatar-80 rounded">-->
<!--                                                            </a>-->
<!--                                                            <div class="friend-info ml-3">-->
<!--                                                               <h5>Petey Cruiser</h5>-->
<!--                                                               <p class="mb-0">15  friends</p>-->
<!--                                                            </div>-->
<!--                                                         </div>-->
<!--                                                         <div class="iq-card-header-toolbar d-flex align-items-center">-->
<!--                                                            <div class="dropdown">-->
<!--                                                               <span class="dropdown-toggle btn btn-secondary mr-2" id="dropdownMenuButton01" data-toggle="dropdown" aria-expanded="true" role="button">-->
<!--                                                               <i class="ri-check-line mr-1 text-white font-size-16"></i> Friend-->
<!--                                                               </span>-->
<!--                                                               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton01">-->
<!--                                                                  <a class="dropdown-item" href="#">Unfriend</a>-->
<!--                                                               </div>-->
<!--                                                            </div>-->
<!--                                                         </div>-->
<!--                                                      </div>-->
<!--                                                   </div>-->
<!--                                                </div>-->
                                                <div class="col-md-6 col-lg-6 mb-3" th:each="friend : ${friends}">
                                                   <div class="iq-friendlist-block">
                                                      <div class="d-flex align-items-center justify-content-between">
                                                         <div class="d-flex align-items-center">
                                                            <a th:href="@{'/users/' + ${friend.getId()}}">
                                                               <img th:if="${friend.getProfilePicture() != null}" th:src="@{'/users/' + ${friend.getId()} + '/profilepicture'}" alt="profile-img" class="avatar-80 rounded">
                                                               <img th:unless="${friend.getProfilePicture() != null}" src="/assets/images/user/avatar.png" alt="profile-img" class="avatar-80 rounded">
                                                            </a>
                                                            <div class="friend-info ml-3">
                                                               <h5 th:text="${friend.getFirstName()} + ' ' + ${friend.getLastName()}">Petey Cruiser</h5>
                                                               <p class="mb-0" th:text="${friend.getTeam().getName()}"></p>
                                                            </div>
                                                         </div>
                                                         <div sec:authorize="isAuthenticated()" th:if="${!principalFriends.contains(friend) && friend.getId() != principalUser.getId()}" class="iq-card-header-toolbar d-flex align-items-center">
                                                            <div>
                                                               <form th:action="@{'/users/' + ${user.getId()} + '/send-friend-request'}" method="post">
                                                                  <input type="hidden" th:value="${principalUser.getId()}" name="principalId">
                                                                  <input type="hidden" th:value="${friend.getId()}" name="userId">
                                                               <button type="submit" class=" btn btn-primary mr-2"   aria-expanded="true" >
                                                                  <i class="mr-1 text-white font-size-14" >Add Friend</i>
                                                               </button>
                                                               </form>
                                                            </div>
                                                         </div>
                                                         <div sec:authorize="isAuthenticated()" th:if="${principalFriends.contains(friend)}" class="iq-card-header-toolbar d-flex align-items-center">
                                                            <div class="dropdown">
                                                               <span class="dropdown-toggle btn btn-secondary mr-2" id="dropdownMenuButton02" data-toggle="dropdown" aria-expanded="true" role="button">
                                                               <i class="ri-check-line mr-1 text-white font-size-16"></i> Friend
                                                               </span>
                                                               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton02">
                                                                  <form th:action="@{'/users/' + ${user.getId()} + '/unfriend'}" method="post">
                                                                     <input type="hidden" th:value="${friend.getId()}" name="friendId">
                                                                     <input type="hidden" th:value="${principalUser.getId()}" name="principalId">
                                                                  <button type="submit" class="dropdown-item" onclick="this.form.submit()">Unfriend</button>
                                                                  </form>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <div th:insert="fragments::footer"></div>
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="/assets/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="/assets/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="/assets/js/waypoints.min.js"></script>
      <script src="/assets/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="/assets/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="/assets/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="/assets/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="/assets/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="/assets/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="/assets/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="/assets/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="/assets/js/lottie.js"></script>
      <!-- am core JavaScript -->
      <script src="/assets/js/core.js"></script>
      <!-- am charts JavaScript -->
      <script src="/assets/js/charts.js"></script>
      <!-- am animated JavaScript -->
      <script src="/assets/js/animated.js"></script>
      <!-- am kelly JavaScript -->
      <script src="/assets/js/kelly.js"></script>
      <!-- am maps JavaScript -->
      <script src="/assets/js/maps.js"></script>
      <!-- am worldLow JavaScript -->
      <script src="/assets/js/worldLow.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="/assets/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="/assets/js/custom.js"></script>
   </body>
</html>
