<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Update Profile</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/assets/images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/assets/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/assets/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/assets/css/responsive.css">
   </head>
   <body class="sidebar-main-active right-column-fixed">
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div th:insert="fragments::sidebar">
         </div>
         <!-- TOP Nav Bar -->
         <div th:insert="fragments::top-navbar"></div>
         <!-- TOP Nav Bar END -->

         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="iq-card">
                        <div class="iq-card-body p-0">
                           <div class="iq-edit-list">
                              <ul class="iq-edit-profile d-flex nav nav-pills">
                                 <li class="col-md-6 p-0">
                                    <a class="nav-link active" data-toggle="pill" href="#personal-information" >
                                    Personal Information
                                    </a>
                                 </li>
                                 <li class="col-md-6 p-0">
                                    <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                    Change Password
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="iq-edit-list-data">
                        <div class="tab-content">
                           <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                              <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title" th:text="'Pesonal information - ' + ${user.getUsername()}">Personal Information</h4>
                                       <p><i th:if="${#request.getParameter('passStatus') != null &&
                                #request.getParameter('passStatus').equals('wrongPassword')}"
                                             style="color: red">Wrong password</i></p>

                                       <p><i th:if="${#request.getParameter('passStatus') != null &&
                                #request.getParameter('passStatus').equals('passwordMismatch')}"
                                             style="color: red">Password mismatch</i></p>

                                       <p><i th:if="${#request.getParameter('passStatus') != null &&
                                #request.getParameter('passStatus').equals('successful')}"
                                             style="color: green">Successfully changed password</i></p>
                                    </div>
                                 </div>

                                 <div class="iq-card-body">
                                    <form th:action="@{'/users/' + ${user.getId()} + '/update'}" method="post" enctype="multipart/form-data">
                                       <div class="form-group row align-items-center">
                                          <div class="col-md-12">
                                             <div class="profile-img-edit">
                                                <img th:if="${user.profilePicture != null}" class="profile-pic" th:src="@{'/users/' + ${user.getId()} + '/profilepicture'}" alt="profile-pic">
                                                <img th:unless="${user.profilePicture != null}" class="profile-pic" src="/assets/images/user/avatar.png" alt="profile-pic">
                                                <div class="p-image">
                                                   <i class="ri-pencil-line upload-button"></i>
                                                   <input class="file-upload" type="file" name="imagefile" accept="image/*"/>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class=" row align-items-center">
                                          <div class="form-group col-sm-6">
                                             <label for="fname">First Name:</label>
                                             <input name="firstName" type="text" class="form-control" id="fname" th:value="${user.firstName}">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="lname">Last Name:</label>
                                             <input name="lastName" type="text" class="form-control" id="lname" th:value="${user.lastName}">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="email">Contact E-mail:</label>
                                             <input name="email" type="email" class="form-control" id="email" th:value="${user.getContactInfo().getEmail()}">
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label>Country:</label>
                                             <select  class="form-control" id="exampleFormControlSelect3" name="country_id">
                                                <option  th:text = "${user.getCountry().getName()}" th:value="${user.getCountry().getId()}" selected="selected"></option>
                                                <option th:each="county : ${countries}" th:text ="${county.getName()}" th:value="${county.getId()}"></option>
                                             </select>
                                          </div>
                                          <div class="form-group col-sm-6">
                                             <label for="mobile">Mobile:</label>
                                             <input type="number"  name="mobile" class="form-control" id="mobile" th:value="${user.getContactInfo().getMobile()}">
                                          </div>

                                          <div class="form-group col-sm-6">
                                             <label for="birthYear">Birth Year:</label>
                                             <input type="number" max="2020" name="birthYear" class="form-control" id="birthYear" th:value="${user.getBirthYear()}">
                                          </div>

                                          <div class="form-group col-sm-6">
                                             <label for="contactPrivacy">Contact information privacy:</label>
                                             <br>
                                             <select class="btn btn-primary dropdown-toggle" name="contactPrivacy" id="contactPrivacy">
                                                <option th:if="${user.getContactInfo().getPrivacy()==1}" th:value="${user.getContactInfo().getPrivacy()}" label="Private" selected></option>
                                                <option th:if="${user.getContactInfo().getPrivacy()==2}" th:value="${user.getContactInfo().getPrivacy()}" label="Public" selected></option>
                                                <option th:if="${user.getContactInfo().getPrivacy()==2}" value="1" label="Private"></option>
                                                <option th:if="${user.getContactInfo().getPrivacy()==1}" value="2" label="Public"></option>
                                             </select>
                                          </div>
                                       </div>
                                       <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                       <button type="reset" class="btn iq-bg-danger">Reset</button>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                              <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Change Password</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">


                                    <form  id="changePassword"
                                    th:action="@{'/users/' +${user.getId()} + '/changePassword'}"
                                           th:object="${userPasswordChangeDTO}" th:method="post">
                                       <div class="form-group">
                                          <label for="cpass" >Current Password:</label>
                                          <input type="Password" name="currentPassword" class="form-control" id="cpass" >
                                       </div>
                                       <div class="form-group">
                                          <label for="npass" >New Password:</label>
                                          <input type="Password" name="newPassword" class="form-control" id="npass" >
                                       </div>
                                       <div class="form-group">
                                          <label for="vpass" >Verify Password:</label>
                                          <input type="Password" name="newPasswordConfirmation" class="form-control" id="vpass">
                                       </div>
                                       <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                       <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <div th:insert="fragments::footer"></div>
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="/assets/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="/assets/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="/assets/js/waypoints.min.js"></script>
      <script src="/assets/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="/assets/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="/assets/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="/assets/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="/assets/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="/assets/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="/assets/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="/assets/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="/assets/js/lottie.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="/assets/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="/assets/js/custom.js"></script>
   </body>
</html>