<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body class="sidebar-main-active right-column-fixed">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">

    <!-- Sidebar  -->
    <div th:insert="fragments::sidebar">
    </div>
<!--    Sidebar End-->

    <!-- TOP Nav Bar -->
    <div th:insert="fragments::top-navbar"></div>
    <!-- TOP Nav Bar END -->


    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="cover-container">
<!--                    <div class="iq-card position-relative inner-page-bg bg-primary" style="height: 150px;">-->
                        <img th:if="${userSearch.getBackgroundPicture() != null}" th:src="@{'/users/' + ${principalUser.getId()} + '/background'}" alt="profile-bg" class="rounded img-fluid">
                        <img  th:unless="${userSearch.getBackgroundPicture() != null}" src="/assets/images/logo-full2.jpg" alt="profile-bg" class="rounded img-fluid">
                       <!--                    </div>-->
                </div>
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Admin Page</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div id="table" class="table-editable">
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Last name</th>
                                        <th>Team</th>
                                        <!--                                       <th>Sort</th>-->
                                        <th>Update</th>
                                        <th>Remove</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="hide" th:each="user:${users} ">
                                        <td contenteditable="true" th:text="${user.username}">username</td>
                                        <td contenteditable="true" th:text="${user.lastName}">Last name</td>
                                        <td contenteditable="true" th:text="${user.team.getName()}">Team</td>
                                        <!--                                       <td>-->
                                        <!--                                          <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>-->
                                        <!--                                          <span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a></span>-->
                                        <!--                                       </td>-->
                                        <td>
                                                <a th:href="@{'/users/' + ${user.id} + '/update'}" type="submit" class="btn iq-bg-primary btn-rounded btn-sm my-0">Update</a>
                                        </td>
                                         <td>
                                          <form th:action="@{'/users/' + ${user.id} + '/update/delete'}"
                                                th:method="post"
                                                onsubmit="return confirm('Are you sure you want to delete user?');
                                                " class="table-remove"><button type="submin" class="btn iq-bg-danger btn-rounded btn-sm my-0">Remove</button></form>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<div th:insert="fragments::footer"></div>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="/assets/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="/assets/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="/assets/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="/assets/js/apexcharts.js"></script>
<!-- Slick JavaScript -->
<script src="/assets/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="/assets/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="/assets/js/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="/assets/js/lottie.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/assets/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="/assets/js/custom.js"></script>
</body>
</html>