<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${team.getName()}"></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body class="sidebar-main-active right-column-fixed">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div th:insert="fragments::sidebar">
    </div>
    <!--         Side Bar End-->
    <!-- TOP Nav Bar -->
    <div th:insert="fragments::top-navbar"></div>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                            <div class="profile-header">
                                <div class="cover-container">
                                    <img th:if="${team.getBackgroundPicture() != null}"
                                         th:src="@{'/teams/' + ${team.getId()} + '/background'}" alt="profile-bg"
                                         class="rounded img-fluid">
                                    <img th:unless="${team.getBackgroundPicture() != null}"
                                         src="/assets/images/logo-full2.jpg" alt="profile-bg" class="rounded img-fluid">
                                    <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="user-detail text-center mb-3">
                                    <div class="profile-img">
                                        <img th:if="${team.getPicture() != null}"
                                             th:src="@{'/teams/' + ${team.getId()} + '/picture'}"
                                             alt="profile-img" class="avatar-130 img-fluid"/>
                                        <img th:unless="${team.getPicture() != null}"
                                             src="/assets/images/user/group-avatar.png" alt="profile-img"
                                             class="avatar-130 img-fluid"/>
                                    </div>
                                    <div class="profile-detail">
                                        <h3 class="" th:text="${team.getName()}">Bni Cyst</h3>
                                    </div>
                                </div>
                                <div class="profile-info p-4 d-flex align-items-center justify-content-between position-relative">
                                    <div class="social-links">
                                        <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">

                                            <li>
                                                <a th:if="${#authentication.getName().equals(team.getCreator().getUsername())}"
                                                   th:href="@{'/teams/' + ${team.getId()} + '/update'}">
                                                    <button class="btn btn-secondary">Update Team</button>
                                                </a>
                                            </li>
                                            <li>
                                                <form sec:authorize="isAuthenticated()"
                                                      th:if="${principalUser.getUsername().equals(team.getCreator().getUsername())}"
                                                      th:action="@{'/teams/' + ${team.getId()} + '/update/background'}"
                                                      method="post" enctype="multipart/form-data">
                                                    <i class="btn btn-secondary upload-button"
                                                       style="margin-left: 10px; height: 35px; font-size: 14px;">Cover
                                                        Photo</i>
                                                    <input class="file-upload" type="file" name="imagefile"
                                                           accept="image/*" onchange="this.form.submit()"/>
                                                </form>
                                            </li>
                                            <li sec:authorize="isAuthenticated()"
                                                th:if="${!team.getMembers().contains(principalUser)} and ${!requestChecker.requestExists(team.getId(), principalUser.getId())}">
                                                <form th:action="@{'/teams/' + ${team.getId()} + '/send-request'}"
                                                      method="post">
                                                    <input type="hidden" th:value="${principalUser.getId()}"
                                                           name="userId"/>
                                                    <button type="submit" class="btn btn-primary">Join</button>
                                                </form>
                                            </li>
                                            <li sec:authorize="isAuthenticated()"
                                                th:if="${!team.getMembers().contains(principalUser)} and ${requestChecker.requestExists(team.getId(), principalUser.getId())}">
                                                <form th:action="@{'/teams/' + ${team.getId()}}"
                                                      method="get">
                                                    <input type="hidden" th:value="${principalUser.getId()}"
                                                           name="userId"/>
                                                    <button type="submit" class="btn btn-secondary">Request Sent</button>
                                                </form>
                                            </li>
                                            <li sec:authorize="isAuthenticated()"
                                                th:if="${team.getMembers().contains(principalUser)} and ${team.getCreator().getId() != principalUser.getId()}">
                                                <form th:action="@{'/teams/' + ${team.getId()} + '/leave-team'}"
                                                      method="post">
                                                    <input type="hidden" th:value="${principalUser.getId()}"
                                                           name="userId"/>
                                                    <button type="submit" class="btn btn-danger">Leave Team</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="social-info">
                                        <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                                            <li class="text-center pl-3">
                                                <h6>Members</h6>
                                                <p class="mb-0" th:text="${team.getMembers().size()}">690</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-card">
                        <div class="iq-card-body p-0">
                            <div class="user-tabing">
                                <ul class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
                                    <li class="col-sm-6 p-0">
                                        <a class="nav-link active" data-toggle="pill" href="#friends">Members</a>
                                    </li>
                                    <li class="col-sm-6 p-0">
                                        <a class="nav-link" data-toggle="pill" href="#about">About</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="about" role="tabpanel">
                            <div class="iq-card">
                                <div class="iq-card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="nav nav-pills basic-info-items list-inline d-block p-0 m-0">
                                                <li>
                                                    <a class="nav-link active" data-toggle="pill" href="#basicinfo">Team
                                                        Information</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-9 pl-4">
                                            <div class="tab-content">
                                                <div class="tab-pane fade active show" id="basicinfo" role="tabpanel">

                                                    <h4>Теам Information</h4>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <h6>Description:</h6>
                                                        </div>
                                                        <div class="col-9">
                                                            <p class="mb-0" th:text="${team.getDescription()}"></p>
                                                        </div>

                                                        <div class="col-3">
                                                            <h6>Attitude:</h6>
                                                        </div>
                                                        <div class="col-9">
                                                            <p class="mb-0" th:if="${team.getAttitude() == 1}">Sunday Tactical</p>
                                                            <p class="mb-0" th:if="${team.getAttitude() == 2}">Dead Serious</p>
                                                            <p class="mb-0" th:if="${team.getAttitude() == 3}">Mixed</p>
                                                            <p class="mb-0" th:if="${team.getAttitude() == 4}">Leisure</p>
                                                            <p class="mb-0" th:if="${team.getAttitude() == 5}">Not specified</p>
                                                        </div>

                                                        <div class="col-3">
                                                            <h6>Headcount:</h6>
                                                        </div>
                                                        <div class="col-9">
                                                            <p class="mb-0" th:text="${team.getMembers().size()}"></p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade active show" id="friends" role="tabpanel">
                            <div class="iq-card">

                                <div class="iq-friend-request" th:if="${team.getCreator().getUsername().equals(#authorization.getAuthentication().getName())} and ${!teamRequests.isEmpty()}" th:each="request:${teamRequests}">
                                    <div class="iq-sub-card iq-sub-card-big d-flex align-items-center justify-content-between" >
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img th:if="${request.getUser().getProfilePicture() != null}" th:src="@{'/users/' + ${request.getUser().getId()} + '/profilepicture'}" alt="profile-bg" class="avatar-40 rounded">
                                                <img th:unless="${request.getUser().getProfilePicture() != null}" src="/assets/images/user/avatar.png" alt="profile-bg" class="avatar-40 rounded">
                                            </div>
                                            <div class="media-body ml-3">
                                                <h4 th:text="${request.getUser().getFirstName()} + ${request.getUser().getLastName()}">Barb Ackue</h4>
                                                <h6 th:text="${request.getUser().getTeam().getName()}">@grapfics</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <form th:action="@{'/teams/' + ${team.getId()} + '/accept-request'}" method="post">
                                                <input type="hidden" th:value="${request.getId()}" name="requestId">
                                                <input type="submit" class="mr-3 btn btn-primary rounded" value="Confirm">
                                            </form>
                                            <form th:action="@{'/teams/' + ${team.getId()} + '/reject-request'}" method="post">
                                                <input type="hidden" th:value="${request.getId()}" name="requestId">
                                                <input type="submit" class="mr-3 btn btn-secondary rounded" value="Delete Request">
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="iq-card-body">
                                    <h2>Members</h2>
                                    <div class="friend-list-tab mt-2">
                                        <ul class="nav nav-pills d-flex align-items-center justify-content-left friend-list-items p-0 mb-2">
                                            <li>
                                                <a class="nav-link active" data-toggle="pill" href="#all-friends">All
                                                    Members</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade active show" id="all-friends" role="tabpanel">
                                                <div class="iq-card-body p-0">
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-6 mb-3"
                                                             th:each="member : ${team.getMembers()}">
                                                            <div class="iq-friendlist-block">
                                                                <div class="d-flex align-items-center justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <a th:href="@{'/users/' + ${member.getId()}}">
                                                                            <img th:if="${member.getProfilePicture() != null}"
                                                                                 th:src="@{'/users/' + ${member.getId()} + '/profilepicture'}"
                                                                                 alt="profile-img"
                                                                                 class="avatar-80 rounded">
                                                                            <img th:unless="${member.getProfilePicture() != null}"
                                                                                 src="/assets/images/user/avatar.png"
                                                                                 alt="profile-img"
                                                                                 class="avatar-80 rounded">
                                                                        </a>
                                                                        <div class="friend-info ml-3">
                                                                            <h5 th:text="${member.getFirstName()} + ' ' + ${member.getLastName()}">
                                                                                Petey Cruiser</h5>
                                                                            <p class="mb-0"
                                                                               th:text="${member.getTeam().getName()}"></p>
                                                                        </div>
                                                                    </div>
                                                                    <div sec:authorize="isAuthenticated()"
                                                                         th:if="${!principalFriends.contains(member) && member.getId() != principalUser.getId()}"
                                                                         class="iq-card-header-toolbar d-flex align-items-center">
                                                                        <div>
                                                                            <form th:action="@{'/users/' + ${member.getId()} + '/send-friend-request'}"
                                                                                  method="post">
                                                                                <input type="hidden"
                                                                                       th:value="${principalUser.getId()}"
                                                                                       name="principalId">
                                                                                <input type="hidden"
                                                                                       th:value="${member.getId()}"
                                                                                       name="userId">
                                                                                <button type="submit"
                                                                                        class=" btn btn-primary mr-2"
                                                                                        aria-expanded="true">
                                                                                    <i class="mr-1 text-white font-size-14">Add
                                                                                        Friend</i>
                                                                                </button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <div sec:authorize="isAuthenticated()"
                                                                         th:if="${principalFriends.contains(member)}"
                                                                         class="iq-card-header-toolbar d-flex align-items-center">
                                                                        <div class="dropdown">
                                                               <span class="dropdown-toggle btn btn-secondary mr-2"
                                                                     id="dropdownMenuButton02" data-toggle="dropdown"
                                                                     aria-expanded="true" role="button">
                                                               <i class="ri-check-line mr-1 text-white font-size-16"></i> Friend
                                                               </span>
                                                                            <div class="dropdown-menu dropdown-menu-right"
                                                                                 aria-labelledby="dropdownMenuButton02">
                                                                                <form th:action="@{'/users/' + ${member.getId()} + '/unfriend'}"
                                                                                      method="post">
                                                                                    <input type="hidden"
                                                                                           th:value="${member.getId()}"
                                                                                           name="friendId">
                                                                                    <input type="hidden"
                                                                                           th:value="${principalUser.getId()}"
                                                                                           name="principalId">
                                                                                    <button type="submit"
                                                                                            class="dropdown-item"
                                                                                            onclick="this.form.submit()">
                                                                                        Unfriend
                                                                                    </button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<div th:insert="fragments::footer"></div>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="/assets/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="/assets/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="/assets/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="/assets/js/apexcharts.js"></script>
<!-- Slick JavaScript -->
<script src="/assets/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="/assets/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="/assets/js/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="/assets/js/lottie.js"></script>
<!-- am core JavaScript -->
<script src="/assets/js/core.js"></script>
<!-- am charts JavaScript -->
<script src="/assets/js/charts.js"></script>
<!-- am animated JavaScript -->
<script src="/assets/js/animated.js"></script>
<!-- am kelly JavaScript -->
<script src="/assets/js/kelly.js"></script>
<!-- am maps JavaScript -->
<script src="/assets/js/maps.js"></script>
<!-- am worldLow JavaScript -->
<script src="/assets/js/worldLow.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/assets/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="/assets/js/custom.js"></script>
</body>
</html>
