<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update Team</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body class="sidebar-main-active right-column-fixed">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Sidebar  -->
    <div th:insert="fragments::sidebar">
    </div>
    <!-- TOP Nav Bar -->
    <div th:insert="fragments::top-navbar"></div>
    <!-- TOP Nav Bar END -->

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-card">
                        <div class="iq-card-body p-0">
                            <div class="iq-edit-list">
                                <ul class="iq-edit-profile d-flex nav nav-pills">
                                    <li class="col-md-12 p-0">
                                        <a class="nav-link active" data-toggle="pill" href="#personal-information" >
                                            Team Information
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="iq-edit-list-data">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                                <div class="iq-card">
                                    <div class="iq-card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title" th:text="'Team information - ' + ${team.getName()}">Team Information</h4>
                                        </div>
                                    </div>

                                    <div class="iq-card-body">
                                        <form th:action="@{'/teams/' + ${team.getId()} + '/update'}" method="post" enctype="multipart/form-data">
                                            <div class="form-group row align-items-center">
                                                <div class="col-md-12">
                                                    <div class="profile-img-edit">
                                                        <img th:if="${team.getPicture() != null}" class="profile-pic" th:src="@{'/teams/' + ${team.getId()} + '/picture'}" alt="profile-pic">
                                                        <img th:unless="${team.getPicture() != null}" class="profile-pic" src="/assets/images/user/group-avatar.png" alt="profile-pic">
                                                        <div class="p-image">
                                                            <i class="ri-pencil-line upload-button"></i>
                                                            <input class="file-upload" type="file" name="imagefile" accept="image/*"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" row align-items-center">
                                                <div class="form-group col-sm-6">
                                                    <label for="tname">Team Name:</label>
                                                    <input name="teamName" type="text" class="form-control" id="tname" th:value="${team.getName()}">
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label>Attitude:</label>
                                                    <select  class="form-control" id="teamAttitude" name="attitude">
                                                        <option value="1" label="Sunday Tactical" ></option>
                                                        <option value="2" label="Dead Serious" ></option>
                                                        <option value="3" label="Hobby" ></option>
                                                        <option value="4" label="Leisure" ></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label for="description">Description:</label>
                                                    <textarea name="description" type="text" class="form-control" id="description" th:text="${team.getDescription()}"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button type="reset" class="btn iq-bg-danger">Reset</button>
                                        </form>
                                        <hr>
                                        <br>
                                        <form th:action="@{'/teams/' + ${team.getId()} + '/delete-team'}" onsubmit="return confirm('Are you sure?')" method="post">
                                            <button type="submit" class="btn btn-lg btn-danger" >Delete Team</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<div th:insert="fragments::footer"></div>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="/assets/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="/assets/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="/assets/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="/assets/js/apexcharts.js"></script>
<!-- Slick JavaScript -->
<script src="/assets/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="/assets/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="/assets/js/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="/assets/js/lottie.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/assets/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="/assets/js/custom.js"></script>
</body>
</html>