<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>War Forum</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body class="iq-bg-primary">
<!-- loader Start -->
<!--<div id="loading">-->
<!--    <div id="loading-center">-->
<!--    </div>-->
<!--</div>-->
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-sm-12 text-center">
                <div class="iq-error position-relative mt-5">
                    <img src="/assets/images/error/01.png" class="img-fluid iq-error-img" alt="">
                    <h1 class="text-in-box">400</h1>
                    <h2 class="mb-0">Oops! Bad Request.</h2>
                    <a class="btn btn-primary mt-3" th:href="@{/}"><i class="ri-home-4-line"></i>Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="/assets/js/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="/assets/js/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="/assets/js/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="/assets/js/apexcharts.js"></script>
<!-- Slick JavaScript -->
<script src="/assets/js/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="/assets/js/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="/assets/js/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="/assets/js/lottie.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/assets/js/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="/assets/js/custom.js"></script>
</body>
</html>